extends layout

block content
  h1 Quotes
  h4 People be creative with your quotes!

  div(style='margin-left:20px;margin-top:20px')

  ul
  each val in list
    li(style="list-style-type:none") <strong>#{val.name}</strong> : #{val.quote}
    hr

  else
    li There are no quotes.

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='name (Christian)', name='name', required='true')

    div.form-group
      label(for='quote') Quote:
      input#quote.form-control(type='text', placeholder='your quote', name='quote', rows = "2", required='true')

    button.btn.btn-primary(type='submit') Submit